.main{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-items:center;
	padding:$margin 0;
	background-color:$background-color;
	
	&__container{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	}
	
	&__menu{
	@include shadows;
	@include menu-styling;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;

	}
	
	&__btn {
	color:$color-secondary;
	background-color:$color-primary;
	padding:0 50px;
	margin:$margin;
	margin-bottom:$margin*2;
	border-radius:20px;
	font-size:30px;
	font-weight:bold;
	}
	
	&__menudetail{
	@include shadows;
	margin-bottom:$margin*2;
	}
	
	&__title{
	padding:0;
	}

}

.contenu{
	&__titre{

	}
	&__sstitre{

	}
}