.main{
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	align-items:center;
	padding:$margin 0;
	background-color:$background-color;
}
	
.cards-list{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	margin:$margin;
}

.card{
	
	@include center;
	@include shadows;
	
	&__enchantee{
	@include card-styling ($m1back, $m1txt, $m1content);
	
		&--icon{
		@include gradient(#F04A5E, #F78F6A);
		font-size: 2em;
		}
		
		&--name{
			@include name ($m1name, 1.5em);
		}

			
		&--menu{
			font-size:2.5em;
		}
	}

	&__francaise{
	@include card-styling ($m2back, $m2txt, $m2content);
		
		&--name{
			@include name ($m2name);
			@include gradient($m2txt, #905BFD);
		}

	}

	&__papilles{
	@include card-styling ($m3back, $m3txt, $m3content);

		&--name{
			@include name ($m3name, 1.5em);
			@include gradient(darken($m3txt, 15%), $m3txt);
		}
		
		&--menu{
			font-size:2.5em;
		}

	}

	&__gout{
	@include card-styling ($m4back, $m4txt, $m4content);

		&--name{
			@include name ($m4name, 1.5em);
			@include gradient(darken($m4txt, 10%), lighten($m4txt, 20%));
		}

		&--menu{
			font-size:2.5em;
		}

	}
}


.bientot{
	color:$color-secondary;
	background-color:$color-primary;
	text-align: center;
	width: 250px;
	padding:0 50px;
	margin:auto;
	margin-bottom:$margin*2;
	border-radius:10px;
	font-size:36px;
}