@font-face {
    font-family: 'yellowsun';
    src: url('../media/fonts/yellowsun/dk_lemon_yellow_sun-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'candy';
    src: url('../media/fonts/candy/candy_chicks-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kaushan';
    src: url('../media/fonts/kaushan/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobster';
    src: url('../media/fonts/lobster/lobster_1.4-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'anada';
    src: url('../media/fonts/anada/ananda_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}