.card-page--papilles{
	@include card-page ($m3back , black, $m3content) ;
	
	.card__papilles--name.top{
		font-size: 2em;
	}

	.entree--pap{

		.header--titre h3{
			&:hover + .underline{
			@include underline (#0228DD, -40px);
			transform-origin: left;
			animation: underlineanim 1000ms;
		    animation-fill-mode: forwards;
			margin-top: -3px;
			}
		}

		.separator{
		@include separator (#0228DD , 5px);
	}

	}

	.plat--pap{

		.header--titre h3{
			&:hover + .underline{
			@include underline (#0670F3, -40px);
			transform-origin: left;
			animation: underlineanim 1000ms;
		    animation-fill-mode: forwards;
			margin-top: -3px;
			}
		}

		.separator{
		@include separator (#0670F3 , 5px);
		}
	}

	.dessert--pap{

		.header--titre h3{
			&:hover + .underline{
			@include underline (#229DF9, -40px);
			transform-origin: left;
			animation: underlineanim 1000ms;
		    animation-fill-mode: forwards;
			margin-top: -3px;
			}
		}

		.separator{
		@include separator (#229DF9 , 5px);
		}
	}

	
	h3{
		font-weight:normal;
	}

}