.card-page{

	.card__gout--name.top{
		font-size: 2em;
	}
	
	&--gout{
		@include card-page ($m4back , black, yellowsun, 1.5em) ;
	}
	
	section{
		width: 100%;
		margin-bottom: $margin;
	}
	
	&__content{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		text-align: left;
	}

	&__header--gout{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
		.separator{
		height: 3px;
		background-color: $m4txt;
		&--left{
			width: 30%;
		}

		&--right{
			width: 30%;
		}

		}

	}

}

