.card-page--enchantee{
		@include card-page ($m1back , $m1txt) ;

		.card__enchantee--name.top{
		font-size: 2em;
	}

	.separator{
		@include separator ($m1txt);
	}

	.line__right{
		font-weight: bold;
	}

	.header--titre h3{
		font-weight: bolder;
		&:hover + .underline{
		@include underline;
		transform-origin: left;
	    animation: underlineanim 1000ms;
	    animation-fill-mode: forwards;
	    margin-top: -3px;
	}
	}

}