.card-page--gout{
	@include card-page ($m4back , black, $m4content) ;
	
	.card__gout--name.top{
		font-size: 2em;
	}
	
	.separator{
		&--left{
			@include separatorgradient (#41963C , #B6F87A, 8px);
		}

		&--right{
			@include separatorgradient (#B6F87A , #41963C, 8px);

		}
		
	}

	h3{
		font-weight:normal;
	}

	.header--titre h3{
		&:hover + .underline{
		@include underline (#B6F87A, -40px);
		transform-origin: left;
	    animation: underlineanim 1000ms;
	    animation-fill-mode: forwards;
	    margin-top: -3px;
			}
	}

}

