.card-page--francaise{
	
	@include card-page ($m2back , $m2txt, $m2content, 1.2em) ;

	h3{
		font-weight: bold;
	}
	
	.card__francaise--name.top{
		font-size: 2em;
	}

	.plat--fra{
		color:#A56799;
		.separator{
		@include separator (#A56799);
		}
	}

	.dessert--fra{
		color:#6E4CCC;
		.separator{
		@include separator (#6E4CCC);
		}
	}

	.separator{
		@include separator ($m2txt);
	}


}