.card-page{
	
	.card__papilles--name.top{
		font-size: 2em;
	}

	&--papilles{
		@include card-page ($m3back , black, yellowsun, 1.2em) ;
	}

	
	section{
		width: 100%;
		margin-bottom: $margin;
	}
	
	&__content{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		text-align: left;
	}

	&__header--papilles{
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:center;
		.separator{
		height: 3px;
		background-color:$m3txt;
		&--left{
			width: 30%;
		}

		&--right{
			width: 30%;
		}

		}

	}

}