@mixin btn-styling {
	color:$color-secondary;
	text-decoration:none;
	font-size:1.5em;
	font-weight:bold;
	padding:0 30px;
}

@mixin shadows {
	box-shadow:0 0 30px darken($background-color, 20%);	
}

@mixin menu-styling ($backcolor:aqua, $text-color:black, $font-family:georgia){
	background-color:$backcolor;
	color:$text-color;
	text-decoration: none;
	font-family: $font-family;
	width:500px;
	height:700px;
	margin:$margin;

}