@mixin btn-styling {
	color:$color-secondary;
	text-decoration:none;
	font-size:1.5em;
	font-weight:bold;
	padding:0 30px;
}

@mixin shadows {
	box-shadow:0 0 30px darken($background-color, 20%);	
}

@mixin card-styling ($backcolor:aqua, $txt-clr:green, $font-family:yellowsun){
	width:500px;
	height:700px;
	margin:$margin;
	background-color:$backcolor;
	color:$txt-clr;
	font-size: 2em;
	font-family: $font-family;
	text-decoration: none;

}

@mixin center{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	text-align: center;
}

@mixin gradient ($left-clr:aqua, $right-clr:black){
	background: linear-gradient(to bottom right, $left-clr 0%, $right-clr 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin name ($font-size:1em, $font-family: Arial){
	font-size:$font-size;
	font-family: $font-family;
}