$color-primary:#569C87;
$color-secondary:#FCCA46;
$background-color:#FFF;

$margin:50px;

$m1back:#FCDFDB;
$m1text:#3C1218;

$m2back:#FFF5FE;
$m2text:#3C1218;

$m3back:#F9F9F9;
$m3text:#3C1218;

$m4back:#FDFFFD;
$m4text:#3C1218;