$color-primary:#569C87;
$color-secondary:#FCCA46;
$background-color:#FFF;

$margin:50px;

$m1back:#FCDFDB;
$m1txt:#3C1218;
$m1name:devonshire;
$m1content:patrick;

$m2back:#FFF5FE;
$m2txt:#C77412;
$m2name: croissant;
$m2content: georgia;
$m2titrecontent: vollkorn;

$m3back:#F9F9F9;
$m3txt:#0887FB;
$m3name: dancing;
$m3content:patrick;

$m4back:#FDFFFD;
$m4txt:#72BF56;
$m4name:kaushan;
$m4content:patrick;

$mentionsback:#FDFFFD;
$mentionstxt:black;
$mentionsname:archivo;
$mentionscontent:vollkorn;

$titlefont:patrick;